.vs
.vs/PROJECT_DSWI/
.vs/ProjectEvaluation/
.vs/PROJECT_DSWI/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/project_dswi.metadata.v5.1
.vs/ProjectEvaluation/project_dswi.projects.v5.1
.vs/PROJECT_DSWI/v17/.suo