@model IEnumerable<PROJECT_DSWI.Models.Producto>

@{
    ViewData["Title"] = "ListarProductos";
}
<link href="~/css/estilos.css" rel="stylesheet"/>
<h1>ListarProductos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>




<div class="menu">
    @foreach (var item in Model)
    {
        <div class="producto">
         
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <img src="@Url.Content($"~/imagenes/{item.idProducto}.jpg")" class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.nomproducto)</h5>
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.idCategoria)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.stock)</p>
                    <a href="#" class="btn btn-danger">Seleccionar</a>
                </div>
            </div>


        </div>

    }
</div>

